.Modal {
    position: absolute;
    top: 5%;
    left: 20%;
    right: 20%;
    min-width: 500px;
    min-height: 200px;
    padding: 10px;
    background-color: lightgrey;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    overflow: auto;
}