.header{
    border: 1px solid black;
    background: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.md24 { font-size: 24px; }
.md36 { font-size: 36px; }
.md48 { font-size: 48px; }

.leftSideMenu {
    /*border: 1px blueviolet dotted;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightSideMenu {
    /*border: 1px blueviolet dotted;*/
}