.menuItemWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #7693d5;
    padding: 8px 0;
    background-color: #9feaab;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);
    border-radius: 2px;
}

.menuItemWrapper:hover {
    background-color: #87ee9d;
    cursor: pointer;
}
.menuItemWrapper:active {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

.my5 {
    margin: 0 5px;
}

.my2 {
    margin: 0 2px;
}

.mr5 {
    margin-right: 5px;
}
